.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    border-bottom: 1px solid var(--lightgrey);
    max-height: 56px;
    position: fixed;
    width: 100vw;
    max-width: 500px;
    background: white;
    top: 0;
}

.profile-pic {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 13px;
}

.home-header {
    margin: 0;
    font-size: 24px;
}

.reload {
    width: 25px;
    height: 25px;
    margin: 15px;
}